<app-navbar></app-navbar>
<router-outlet></router-outlet>


<footer>
    <div>
        <h2>Contactame:</h2>
        <ul class="contacto">
            <li>Contacto directo</li>
            +51 951 111 107
            <li>Telefono Fijo</li>
            +51 (054) 624710
        </ul>
    </div>
    <div>
        <h2>Integrantes del Grupo:</h2>
        <ul class="integrantes">
           <li>Condori Lima Mijayl Ramón</li> 
        </ul>
        <p>2022 Mijayl.Rcl © Todos los derechos Reservados</p>
    </div>
    <div class="link">
        <h2>Web Mijayl Rcl:</h2>
        <a title="MijaylRcl" href="https://ciclope.studio/mijayl_rcl/"><img src="../../../assets/img/Mijayl-logoblanco.png" width="60%" style="cursor:pointer"/></a>
    </div>
</footer>

