<div class="container">
    <mat-toolbar class="mat-elevation-z5">
        <span>Usuarios </span>
        <div  class= "example-spacer"></div>
        <button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario">AGREGAR</button>
    </mat-toolbar>

<div *ngIf="listUsuarios.length > 0">

    <mat-form-field>
        <mat-label>Buscador</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filtra por lo que quieras" #input autocomplete="off">
      </mat-form-field>

<div class="mat-elevation-z10">

    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
      
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>
      
        <ng-container matColumnDef="sexo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
          <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;"> 
                <a class="icono" style="color: rgb(118, 27, 192)" matTooltip="Ver usuario">
                    <mat-icon>search</mat-icon>
                </a>
                <a class="icono" style="color: rgb(30, 14, 122)" matTooltip="Editar usuario">
                    <mat-icon>edit</mat-icon>
                </a>
                <a class="icono" (click)="eliminarUsuario(i)" style="color: rgb(168, 24, 96)" matTooltip="Eliminar usuario">
                    <mat-icon>delete</mat-icon>
                </a>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

</div>

</div>

<h2 *ngIf="listUsuarios.length == 0" style="text-align: center; margin-top: 40px; color: rgb(118, 27, 192)">No hay Usuarios que mostrar</h2>

<div class="body">
<img *ngIf="listUsuarios.length == 0" src="../../../assets/img/no-no.gif">
</div>

</div>